<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mpv playing</title>
</head>
<body>
    <div>
        {% if title %}
        <ul>
        <li>Title: {{ title }}</li>
        <li id="position">Position: {{ position|duration }}{% if not isPlaying %} (paused){% endif %}</li>
        <li>Length: {{ length|duration }}</li>
        </ul>
        {% else %}
        <ul><li>Nothing playing</li></ul>
        {% endif %}
    </div>

    <script type="text/javascript"><!--
    var formatTen = function(val) {
        if (val < 10) {
            return "0" + val;
        }
        return "" + val;
    };
    var formatDuration = function(seconds) {
        var minutes = Math.floor(seconds / 60);
        seconds = seconds % 60;
        if (minutes < 60) {
            return "" + formatTen(minutes) + ":" + formatTen(seconds);
        }
        var hours = Math.floor(minutes / 60);
        minutes = minutes % 60;
        return "" + hours + ":" + formatTen(minutes) + ":" + formatTen(seconds);
    };

    var posId;
    var posValues = [{{ position }}, {{ length }}];
    var posUpdate = function() {
        var d = document.getElementById("position");
        posValues[0] += 1;
        if (posValues[0] > posValues[1]) {
            clearInterval(posId);
            window.location = window.location;
            return;
        }
        var current = formatDuration(posValues[0]);
        d.innerText = "Position: " + current;
    };
    {% if isPlaying %}
    if (posValues[0] < posValues[1]) {
        posId = setInterval(posUpdate, 1000);
    } else {
        console.error("Past end?");
    }
    {% endif %}
    //--></script>
    <footer>
    <address>{{ version }}</address>
    </footer>
</body>
</html>